services:
  evolution-api:
    image: atendai/evolution-api:v2.1.1
    container_name: evolution_api
    restart: always
    env_file:
      - ./.env
    networks:
      - traefik-network
      - postgres-network
    volumes:
      - evolution_instances:/evolution/instances
    labels:
      - "traefik.enable=true"
      
      # http
      - "traefik.http.routers.evolution-http.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.evolution-http.entrypoints=web"
      - "traefik.http.routers.evolution-http.service=evolution"

      # https
      - "traefik.http.routers.evolution-https.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.evolution-https.entrypoints=websecure"
      - "traefik.http.routers.evolution-https.service=evolution"
      - "traefik.http.routers.evolution-https.tls.certresolver=myresolver"
      - "traefik.http.routers.evolution-https.middlewares=gzip,sslheader"

      # services
      - "traefik.http.services.evolution.loadbalancer.server.port=8080"

      - "traefik.docker.network=traefik-network"
      
      # middlewares - http to https
      - "traefik.http.middlewares.evolution-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.evolution-redirect.redirectscheme.permanent=true"
      - "traefik.http.routers.evolution-http.middlewares=evolution-redirect"
      - "traefik.http.middlewares.gzip.compress=true"
      - "traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https"

volumes:
  evolution_instances:

networks:
  traefik-network:
    external: true
  postgres-network:
    external: true
